{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!--cette ligne permet d'importer le css -->
    {{ encore_entry_link_tags('app') }}
    <link href="{{ asset('../../assets/css/app.scss') }}" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Caveat|Rammetto+One&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}AddPlante{% endblock %}

{% block body %}
    <div class="page">
        <h1>Ajouter une plante</h1>


        {{ form_start(addPlanteForm) }}
            {{ form_row(addPlanteForm.Espece) }}
            {{ form_row(addPlanteForm.Variete) }}
            {{ form_row(addPlanteForm.DatePlantation) }}
            {{ form_row(addPlanteForm.SaisonPlantation) }}
            {{ form_row(addPlanteForm.SaisonFloraison) }}
            {{ form_row(addPlanteForm.DateGermination) }}
            {{ form_row(addPlanteForm.SaisonGermination) }}
            {{ form_row(addPlanteForm.Type) }}
            {{ form_row(addPlanteForm.TypeSol) }}

            <input type="submit">
        {{ form_end(addPlanteForm) }}
    </div>
{% endblock %}