{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!--cette ligne permet d'importer le css -->
    {{ encore_entry_link_tags('app') }}
    <link href="{{ asset('../../assets/css/app.scss') }}" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Caveat|Rammetto+One&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="page">
        <h1>Inscription</h1>

        {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.Nom) }}
            {{ form_row(registrationForm.Prenom) }}
            {{ form_row(registrationForm.Email) }}
            {{ form_row(registrationForm.Password) }}
            {{ form_row(registrationForm.NbPiece) }}
            {{ form_row(registrationForm.NbPlante) }}

            <input type="submit">
        {{ form_end(registrationForm) }}
        <p>Si vous avez déjà un compte, merci de vous connecter: <br>
            <a href="/login">Connection</a></p>
    </div>
{% endblock %}
