body, title {
  background-image: url("../img/plante-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  cursor: url("../img/nomplante-curseur.png"), default; }

li {
  list-style-type: none; }

h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 70px;
  color: #002300; }

#home {
  font-family: 'Caveat', cursive;
  font-size: 40px; }

/*# sourceMappingURL=body.css.map */
