{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!--cette ligne permet d'importer le css -->
    {{ encore_entry_link_tags('app') }}
    <link href="{{ asset('../../assets/css/app.css') }}" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Caveat|Rammetto+One&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Plante index{% endblock %}

{% block body %}
    <h1>Plante index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Espece</th>
            <th>Variete</th>
            <th>DatePlantation</th>
            <th>SaisonPlantation</th>
            <th>SaisonFloraison</th>
            <th>DateGermination</th>
            <th>SaisonGermination</th>
            <th>Type</th>
            <th>TypeSol</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for plante in plantes %}
            <tr>
                <td>{{ plante.id }}</td>
                <td>{{ plante.Espece }}</td>
                <td>{{ plante.Variete }}</td>
                <td>{{ plante.DatePlantation ? plante.DatePlantation|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ plante.SaisonPlantation }}</td>
                <td>{{ plante.SaisonFloraison }}</td>
                <td>{{ plante.DateGermination ? plante.DateGermination|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ plante.SaisonGermination }}</td>
                <td>{{ plante.Type }}</td>
                <td>{{ plante.TypeSol }}</td>
                <td>
                    <a href="{{ path('plante_show', {'id': plante.id}) }}">show</a>
                    <a href="{{ path('plante_edit', {'id': plante.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('plante_new') }}">Create new</a>
    <a href="/profil">Back to profil</a>
{% endblock %}
