{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!--cette ligne permet d'importer le css -->
    {{ encore_entry_link_tags('app') }}
    <link href="{{ asset('../../assets/css/app.css') }}" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Caveat|Rammetto+One&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}New Plante{% endblock %}

{% block body %}
    <h1>Create new Plante</h1>

    {{ include('plante/_form.html.twig') }}

    <a href="{{ path('plante_index') }}">back to list</a>
{% endblock %}
