{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!--cette ligne permet d'importer le css -->
    {{ encore_entry_link_tags('app') }}
    <link href="{{ asset('../../assets/css/app.css') }}" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Caveat|Rammetto+One&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Plante{% endblock %}

{% block body %}
    <h1>Plante</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ plante.id }}</td>
            </tr>
            <tr>
                <th>Espece</th>
                <td>{{ plante.Espece }}</td>
            </tr>
            <tr>
                <th>Variete</th>
                <td>{{ plante.Variete }}</td>
            </tr>
            <tr>
                <th>DatePlantation</th>
                <td>{{ plante.DatePlantation ? plante.DatePlantation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SaisonPlantation</th>
                <td>{{ plante.SaisonPlantation }}</td>
            </tr>
            <tr>
                <th>SaisonFloraison</th>
                <td>{{ plante.SaisonFloraison }}</td>
            </tr>
            <tr>
                <th>DateGermination</th>
                <td>{{ plante.DateGermination ? plante.DateGermination|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>SaisonGermination</th>
                <td>{{ plante.SaisonGermination }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ plante.Type }}</td>
            </tr>
            <tr>
                <th>TypeSol</th>
                <td>{{ plante.TypeSol }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('plante_index') }}">back to list</a>

    <a href="{{ path('plante_edit', {'id': plante.id}) }}">edit</a>

    {{ include('plante/_delete_form.html.twig') }}
{% endblock %}
