{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!--cette ligne permet d'importer le css -->
    {{ encore_entry_link_tags('app') }}
    <link href="{{ asset('../../assets/css/app.css') }}" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Caveat|Rammetto+One&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Plant tracker{% endblock %}

{% block body %}
<div class="navbar-custom-menu">
    <h1>Plant Tracker</h1>

</div>

    <div class="container">
        <div class="row" id="home">
            <ul>
                <li><a href="/register">Inscription</a>
                <li><a href="/login">Connection</a>
            </ul>
        </div>
    </div>
{% endblock %}
