{% extends 'base.html.twig' %}

{% block stylesheets %}
        <!--cette ligne permet d'importer le css -->
        {{ encore_entry_link_tags('app') }}
        <link href="{{ asset('../../assets/css/app.scss') }}" type="text/css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Caveat|Rammetto+One&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}Plant tracker{% endblock %}

{% block body %}
        <div class="navbar">
            <h1>Profil</h1>
            <ul>
                <li><a class="nav-link" href="{{ path('logout') }}"data-toggle="tooltip" data-original-title="Déconnexion">Déconnection<i class="fa fa-sign-out"></i></a></li>
                </ul>
        </div>
        <div class="page">

            <h3>Liste de vos plantes:</h3>
            <a href="/plante/planteListe">ici</a>
        </div>
{% endblock %}
